<table>
    {% if rows %}
    <thead>
        <tr>
            {% for col in rows[0].keys() %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for data in row.values() %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tr>
        <td colspan="100%">No data available for the selected table.</td>
    </tr>
    {% endif %}
</table>