/* General body styling */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: white;
    color: rgb(0, 0, 0);
}


h1, h2 {
    color: #black;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 10px;
}

h4 {
    color: #0041a5;
    text-align: center;
    text-transform: uppercase;
    font-weight: 150;
    margin-left: 10px;
}

#login-button {
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 19px 25px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    transition: background-color 0.3s ease;
}

#View_Attribute, #Keyword_Filter, #Range_Filter, .delete-btn, .add-btn, #Add_Data, #Delete_Data {
    /* display: block; */
    font-size: 13px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    transition: background-color 0.3s ease;
    /* Smooth hover transition */
}

#View_Attribute:hover, #Keyword_Filter:hover, #Range_Filter:hover,
.delete-btn:hover, .add-btn:hover, #Add_Data:hover, #Delete_Data:hover, #login-button:hover {
    background-color: #0041a5;
    /* Slightly darker blue on hover */
}

#log-in {
    display: flex;
    height: 90vh;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* margin-top: 30px; */
    font-size: 50px;
    color: #0041a5;
    margin-bottom: 30px;
}

#website {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 80%;
}

#tabs {
    text-align: right;
}

/* Container for the content */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}


/* Style the header */

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/* Main content styling */

.main-content {
    margin-top: 20px;
}


/* Dropdown styling */

select {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 20px;
}

label {
    margin-left: 10px;
}


/* Table styles */

table {
    width: 80%;
    margin-left: 10px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead {
    background: #333;
    color: #fff;
}

table thead th {
    padding: 10px;
    text-align: left;
}

table tbody tr:nth-child(odd) {
    background: #f4f4f4;
}

table tbody tr:hover {
    background: #e2e2e2;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


/* Footer styling */

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* Media Query for Mobile Devices */

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
    header {
        padding-top: 15px;
        min-height: 50px;
    }
}