/* General body styling */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #ebebeb;
    color: rgb(0, 0, 0);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}


/* Container for the content */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}


/* Style the header */

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


/* Main content styling */

.main-content {
    margin-top: 20px;
}


/* Dropdown styling */

select {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 20px;
}

label {
    margin-left: 10px;
}


/* Table styles */

table {
    width: 80%;
    margin-left: 10px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead {
    background: #333;
    color: #fff;
}

table thead th {
    padding: 10px;
    text-align: left;
}

table tbody tr:nth-child(odd) {
    background: #f4f4f4;
}

table tbody tr:hover {
    background: #e2e2e2;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


/* Footer styling */

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* Media Query for Mobile Devices */

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
    header {
        padding-top: 15px;
        min-height: 50px;
    }
}