<!-- login.html -->
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>

    <body>
    <form id = 'login-form'>
        <h2>Welcome to Food Deliver Logger</h2>
        <h4>Enter login information to begin: </h4>
        <div id = "log-in">
            <div> 
                <input type="text" placeholder="Login ID" >
            </div> 
            <div> 
                <input type="password" placeholder="Password" >
            </div> 
            <input type="submit" value="Login" id = "login-button">
        </div>
    </form>
</form>
</body>
  
<!-- Scripts -->
<script>
  document.getElementById('login-form').addEventListener('submit', function(event) {
    event.preventDefault();
    // In real world situation, Perform validation and authentication here
    // ...
    // If successful, redirect to index.html
    window.location.href = 'main';
  });
 </script>
  
</html>